@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.present .nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  color: white;
  margin: 0 auto;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 3%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
}

.present .nav_bar .logo {
  font-weight: 800;
  font-size: 1.5rem;
}

.present .nav_bar .onglets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.present .nav_bar .onglets .onglet {
  min-width: 80px;
  margin: 0 20px;
  height: 30px;
  text-align: center;
  color: white;
}

.present .nav_bar .onglets .onglet .link {
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  border-bottom: 2px solid transparent;
  border-radius: 2px;
}

.present .nav_bar .onglets .onglet .link:hover {
  border-bottom: 2px solid #e23fe5;
}

.present .nav_bar .onglets .onglet.active .link {
  border-bottom: 2px solid #e23fe5;
}

body {
  font-family: "Poppins";
}

.container {
  max-width: 1150px;
}

.present {
  background: -webkit-linear-gradient(135deg, #6417a7, #a517a7);
  background: -o-linear-gradient(135deg, #6417a7, #a517a7);
  background: linear-gradient(-45deg, #6417a7, #a517a7);
  height: 100vh;
  width: 100wh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.present .big__title {
  color: white;
  font-weight: 800;
  text-align: center;
  font-size: 3rem;
}

.present .few__title {
  text-align: center;
  font-weight: 100;
  color: #e1e1e1;
  font-size: 1.5rem;
}

.present .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  margin-top: 2.2%;
}

.present .form .input,
.present .form .submit {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  outline: none;
  border: 2px solid transparent;
}

.present .form .input {
  padding: 10px;
  max-width: 250px;
  font-size: 17px;
  border: 2px solid #d2d2d2;
}

.present .form .submit {
  max-width: 140px;
  color: white;
  background-color: black;
  padding: 10px 15px;
  font-size: 17px;
  margin-left: 10px;
  cursor: pointer;
}

.present .description {
  margin-top: 2.1%;
  width: 30%;
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.845);
  margin-bottom: 2%;
}

.present .image_container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.present .icone_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 30%;
  position: relative;
  margin-top: 1%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.present .icone_container .icone {
  height: 100px;
  margin: 5px;
  text-align: center;
}

.present .icone_container .icone .img {
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.29);
      -ms-transform: scale(1.29);
          transform: scale(1.29);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.present .icone_container .icone .img.flou {
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
  opacity: 0.8;
}

.present .icone_container .icone .img.active {
  z-index: 3;
  -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 5px red;
          box-shadow: inset 0 0 5px red;
}

.present .icone_container .icone .img.view_top {
  -o-object-position: top;
     object-position: top;
}

.present .icone_container .icone .details {
  position: absolute;
  width: 280px;
  color: white;
  pointer-events: none;
  bottom: 0;
  display: none;
}

.present .icone_container .icone .details .nom {
  font-weight: 700;
}

.present .icone_container .icone .details .sujet {
  color: rgba(255, 255, 255, 0.7);
}

.present .icone_container #show_details {
  position: absolute;
  bottom: -30%;
  width: 350px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  border: 2px solid #d2d2d2;
  opacity: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.present .icone_container #show_details.active {
  opacity: 1;
}

.present .icone_container #show_details .details {
  text-align: center;
  display: none;
}

.present .icone_container #show_details .details .nom {
  font-weight: 700;
  font-size: 1.3rem;
  color: #6417a7;
}

.present .icone_container #show_details .details .sujet {
  color: #a517a7;
  font-size: 1.2rem;
}

.present .icone_container #show_details .details.active {
  width: auto;
  height: auto;
  opacity: 1;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  display: block;
}

.present .img {
  width: 70%;
  height: auto;
  position: relative;
}

.present .designer {
  color: rgba(255, 255, 255, 0.598);
  font-size: 0.8rem;
  position: absolute;
  bottom: 1.3%;
  left: 5%;
}

.present .designer a {
  font-weight: bold;
}
